@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid p-5 text-center">
    <h1 class="display-4">Strona Główna</h1>
    <p>Temat projektu: System zarządzania biblioteką</p>
    <p>Wykonała: Wiktoria Kuna</p>
</div>
