@{
    ViewData["Title"] = "Home Page";
}

<div class="card">
    <div class="card-header">
        <h1 class="display-4">Strona Główna</h1>
        <h2>Temat projektu: System zarządzania biblioteką</h2>        
    </div>
    <div class="card-body">
        <h3>Przykładowi użytkownicy:</h3>
        <div class="mb-3 mt-3">
            <h4>Admin</h4>
            <p>Email: admin@admin.com</p>
            <p>Hasło: Admin!1</p>
        </div>
        <div class="mb-3 mt-3">
            <h4>Użytkownik</h4>
            <p>Email: user@user.com</p>
            <p>Hasło: User!1</p>
        </div>        
    </div>
    <div class="card-footer">
        <p">Wykonała: Wiktoria Kuna</p>
    </div>
</div>
